.main-div{
    text-align: center;
    padding: 100px 0;
}

.logo{
    width: 100%;
    max-width: 200px;
}

.display-flex{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}